# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2018 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

-e git+https://github.com/inspirehep/invenio-records.git@master#egg=invenio-records
-e git+https://github.com/inspirehep/invenio-records-rest.git@master#egg=invenio-records-rest
invenio-search[opensearch2] @ git+https://github.com/inspirehep/invenio-search.git@master
-e .[all,opensearch2]
